@*@model Vidly.Models.Movie // 因為 type of Model is dynamic not a movie，we use directive to specify the type of the model for this view*@
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>1.原本該View的type是Vidly.Models.Movie，所以可以取得 "Model.Name"</h2>
<h2><strong>2.後來把View type改成ViewModels.RandomMovieViewModel，所以取"Model.Movie.Name或Model.Customers"</strong></h2>

@*
    This is a comment on multiple lines 
    with Razor View    
*@
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h3 class="@className">2-1: @Model.Movie.Name</h3>
<h3>2-2: @Model.Customers</h3>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}